PENTARACT_BASE_URL=http://host.docker.internal:8080
PENTARACT_EMAIL=user@example.com
PENTARACT_PASSWORD=change-me
PENTARACT_STORAGE=
PENTARACT_SOURCE_DIR=/source
PENTARACT_RETRIES=3
PENTARACT_RETRY_DELAY=2s
PENTARACT_DOWNLOADS_PATH=./Downloads
